<title>Dashboard</title>
<body style="background-color:#dee2ff;">
    <center>
        <img src="~/assets/images/images.jpg" height="75" width="75" class="back" style="width:200px; height:220px;">
    </center>
    <br />
    <h2 style="font-family:cursive; color: #184E77; font-style:unset; text-align :center; margin-top:5%; font-weight:800; font-size:55px;">Welcome To DigiGarage!</h2>

   
</body>